.header{
    background-color: white;
    padding: 22px 23px 22px 5px ;
    .headerInner{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .rightNav{
            ul{
                    li{
                        font-family: 'acumin-pro';
                        font-weight: 300;
                        font-style: normal;
                        font-size: 19px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-right: 20px;
                        color:#222222;

                    }
                }
                }
            }
            
        }
    


