<header class="header">
  <div class="headerInner">
    <div class="logo">
      <a routerLink="/MEN'S"><img src="./assets/images/logo_mach.png" alt=""></a>
    </div>
 <div class="rightNav">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <img src="./assets/images/menu.svg" alt=""> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li><a routerLink="/MEN'S" routerLinkActive="active">MEN'S</a></li>
            <li><a routerLink="/WOMEN'S" routerLinkActive="active">WOMEN'S</a></li>
            <li><a routerLink="/GIFT CARDS" routerLinkActive="active">GIFT CARDS</a></li>
            <li><a routerLink="/ACCESORIES" routerLinkActive="active">ACCESORIES</a></li>
            <li><a routerLink="/BLOG" routerLinkActive="active">BLOG</a></li>
          </ul>
        </div>
        </nav>
    </div>
  </div>
</header>