<div class="bannersec">
    <img class="poster" src ="./assets/images/cycle_image.jpg">
    <div class="banr">
      <div class="innerban">
    <h1>We Are Mach Apperal</h1>
    <p>A triathlon apparel company based out of Denver, Colorado. Committed to the athlete, we believe that technology, eco-friendly production, and minimalist design 
    aesthetics can work in harmony to produce the best triathlon apparel in the world.</p>
    <button type="button" class="btn">Shop now</button>
  </div>
  </div>
</div>


<div class="about-us">
    <div class="row">
        <div class="col-lg-6 aboutLft">
            <h1>Lorem Ipsum
                Dolar Sit Amet</h1>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button type="button" class="btn">Shop now</button>
        </div>
        <div class="col-lg-6 aboutRigt">
            <img src="./assets/images/about_us.png">
        </div>
    </div>
</div>

<div class="run">
    <div class="row">
      <div class="col-lg-6 menslft">
        <img class="men" src="./assets/images/mens_image.png" alt="">
        <div class="image-text1">
          <button type="button" class="button1">MEN'S TRI JERSEYS</button>>
        </div>
      </div>
      <div class="col-lg-6  womensrigt">
        <img class="girls" src="./assets/images/girls_image.png" alt="">
        <div class="image-text2">
          <button type="button" class="button2">WOMEN'S TRI JERSEYS</button>>
        </div>
      </div>
    </div>
  </div>

  <div class="cycle-banner">
    <div class="cycle-banner-image">
      <img src="./assets/images/cycle_man_2.png" alt="">
      <div class="cycle-banner-text">
        <h2>Built To <span>
          Break Barriers</span></h2>
          <button type="button" class="btn">Shop now</button>
      </div>
      <div class="playbtn">
        <div class="playbtn">
          <button type="button" class="btn"><i style="font-size:30px" class="fa">&#xf04b;</i></button>
        </div>
      </div>
      </div>
    </div>



<div class="newarrival">
    <div class="container">
      <div class="heading">
      <h3>New Arrivals</h3>
      <div class="row m-0">
          <div class="col-lg-3 p-0">
           <div class="item_1">
             <figure>
               <img src="./assets/images/card_pic_1.png" alt=""></figure>
               <div class="caption">
               <h4>MEN'S MACH ONE MK1 </h4>
               <p>$229.00</p>
                </div>
             </div>
               </div>
       <div class="col-lg-3 p-0">
        <div class="item_2">
        <figure><img class="green" src="./assets/images/card_pic_2.png"  alt=""></figure>
        <div class="caption">
        <h4>MEN'S MACH ONE MK1 </h4>
        <p>$229.00</p>
        </div>
         </div>
          </div>

          <div class="col-lg-3 p-0">
            <div class="item_3">
              <figure><img src="./assets/images/card_pic_3.png" alt=""></figure>
              <div class="caption">
              <h4>MEN'S OPTIC MK1 SUIT</h4>
              <p>$229.00</p>
            </div>
            </div>
          </div>

          <div class="col-lg-3 p-0">
            <div class="item_4">
              <figure><img src="./assets/images/card_pic_4.png" alt=""></figure>
              <div class="caption">
              <h4>MEN'S MACH ONE MK1 </h4>
              <p>$229.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="testimonial-section">
        <div class="row m-0">
            <div class="col-lg-6 p-0">
                <div class="testimonial-heading">
                   <h2>Testimonials</h2>
                   <p>"As a former member of the US National Team, I've had the<br>
                      opportunity to test a wide range of endurance apparel. Mach<br>
                      Apparel stands out to me in regards to it's comfort and<br>
                       breathablity which allows the athlete to hold up better and<br>
                        have that extra freshness to surpass previous barriers."</p>
                   <p>Austin Arguello</p>
                </div>
            </div>
           
        <div class="col-lg-6 p-0">
        <div class="banner"> 
            <figure>
                <img src="./assets/images/testimonial_image.png" alt="">
            </figure>
        </div>
        </div>
        </div>
        </div>
    

        <div class="assistance-section">
          <div class="container">
              <!-- heading -->
      
              <div class="heading">
                  <h2>Need Assistance</h2>
                  <p>Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut<br> 
                    aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in<br>
                     reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <div class="row m-0">
      <!-- 1 no pic -->
                  <div class="col-lg-3 p-0">
                      <div class="picture">
                      <figure>
                          <img src="./assets/images/sticar_1.png" alt="">
                      </figure>
                          <div class="heading">
                          <h4>free returns</h4>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                         </div>
                  </div>
                  </div>
      <!--2 no pic  -->
                  <div class="col-lg-3 p-0">
                      <div class="picture">
                      <figure>
                          <img src="./assets/images/sticar_2.png" alt="">
                      </figure>
      
                      <div class="heading">
                          <h4>jersey downsize</h4>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                      </div>
                    </div>  
                 </div>
      <!-- 3 no pic -->
                 <div class="col-lg-3 p-0">
                  <div class="picture">
                  <figure>
                      <img src="./assets/images/sticar_3.png" alt="">
                  </figure>
                  <div class="heading">
                      <h4>classic Guarantee</h4>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                   </div>
      
               </div>
           </div>
             
      <!-- 4 no pic -->
                   <div class="col-lg-3 p-0">
                      <div class="picture">
                      <figure>
                          <img src="./assets/images/sticar_4.png" alt="">
                      </figure>
                      <div class="heading">
                          <h4>free repairs</h4>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                             Duis aute irure dolor in reprehenderit in</p>
                       </div>
                  </div>
              </div>
      
      
      
      
                  </div>
          </div>
      </div>